version: '2'
services:
    app:
        build:
            args:
                RUTRACKER_LOGIN: {YOUR RUTRACKER LOGIN}
                RUTRACKER_PASSWORD: {YOUR RUTRACKER PASSWORD}
                LOGIN: {YOUR LOGIN}
                PASSWORD: {YOUR PASSWORD}