version: '2'
services:

    filebot:
            build:
                args:
                    OPENSUBTITLES_LOGIN:
                    OPENSUBTITLES_PASSWORD:
                    OPENSUBTITLES_LANG: ru